body{
    background-color: black;
}
h1{
    color: aqua;
    font-family: "Roboto", "Press Start 2P", sans-serif;
}
p{
    background-color: beige;
    color: black;
    font-family: "Roboto", "Press Start 2P", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: cyan underline;
    font-size: large;
}